<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIRequiresFullScreen~ipad</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to scan barcodes on products to quickly add ingredients to your fridge and items to your shopping lists.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to scan barcodes from images and add products to your fridge and shopping lists.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to Apple Music to play your playlists while cooking recipes.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fridgetorecipe.spotify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fridgetorecipe</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
